.products .btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 5vw;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4vh 3vw;
  gap: 1vh 1vh;
}

.products-container a {
  color: black;
}
.product-img {
  border-radius: 10px;
}

.product-card {
  display: flex;
  width: 500px;
  height: 150px;
  padding: 10px;
  background-color: white;
  border-radius: 1vh;
  transition: background-color 300ms;

  box-shadow: 10px 13px 32px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 13px 32px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 13px 32px -18px rgba(0, 0, 0, 0.75);
}

.product-card:hover {
  background-color: rgb(238, 238, 238);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0.5vh 1vh;
}

.product-info p,
.product-info strong {
  font-size: 0.8rem;
}

.product-title {
  font-size: 1rem;
  display: -webkit-box;
  max-width: 300px;
  line-height: 1.5rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-seller {
  display: flex;
  padding: 0;
  align-items: center;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh .btn {
  display: flex;
  align-items: center;
  height: 70px;
  width: 250px;
  max-width: 350px;
  margin: 0;
  padding: 5px;
}
.refresh {
  margin: 2vh;
}

@media screen and (max-width: 999px) {
  .products-container {
    margin: 0;
  }
  .product-card {
    flex-direction: column;
    width: 160px;
    height: 210px;
  }

  .product-title {
    display: -webkit-box;
    max-width: 160px;
    line-height: 1.5rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0;
  }

  .product-img {
    height: 130px;
    width: 150px;
  }

  .product-seller {
    display: none;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
