@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0 0.5vw;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff159;
}

h1 {
  color: #242d7a;
  font-size: 5em;
}
