@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #fff159;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;

  align-items: center;
  overflow-x: hidden;

  min-height: 95vh;
}

h1 {
  color: #242d7a;
  font-size: 5em;
}
@media screen and (max-width: 999px) {
  * {
    padding: 0;
  }
}
