footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3vh 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 50vw;
  min-height: 10vh;
  background-color: #f2f2f2;
  /* background: linear-gradient(90deg, #f2f2f2 21px, transparent 1%) center,
    linear-gradient(#f2f2f2 21px, transparent 1%) center, #676767;
  background-size: 22px 22px; */
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 10px 23px 32px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 23px 32px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 23px 32px -18px rgba(0, 0, 0, 0.75);
}

.personal {
  text-align: center;
}

.social {
  display: flex;
  margin: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0 2vw;
  transition: opacity 300ms;
  transition: background-color 300ms;
  padding: 5px 10px;
}

.social-icons {
  height: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 999px) {
  .personal {
    margin-bottom: 2vh;
  }
  .social {
    flex-direction: column;
  }
  .links {
    margin: 1vh;
  }
}
