footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.personal {
  text-align: center;
}

.social {
  display: flex;
  margin: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: opacity 300ms;
  transition: background-color 300ms;
}

.links:hover {
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  opacity: 0.8;
}

.social-icons {
  height: 30px;
}
