footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.personal {
  text-align: center;
}

.social {
  display: flex;
  margin: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 0 2vw;
  transition: opacity 300ms;
  transition: background-color 300ms;
  padding: 5px 10px;
}

.social-icons {
  height: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 999px) {
  .personal {
    margin-bottom: 2vh;
  }
  .social {
    flex-direction: column;
  }
  .links {
    margin: 1vh;
  }
}
